:root {
  font-family: "Cherry Bomb One", "Times New Roman", Times, serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #fedee3;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

h1 {
  font-size: 3.2em;
}

h2 {
  font-size: 20px;
}

/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #7dda58);
}

.header {
  width: 90vw;
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.container {
  width: 90vw;
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.card {
  background-color: white;
  min-width: 250px;
  width: 22%;
  height: 30rem;
  margin: 3rem 0;
  border: 2px solid white;
  border-radius: 10px;
  box-shadow: white 0px 1px 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: all 0.5s;
}

.playlist-card {
  background-color: white;
  min-width: 250px;
  width: 22%;
  height: 30rem;
  margin: 3rem 0;
  border: 2px solid white;
  border-radius: 10px;
  box-shadow: white 0px 1px 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: all 0.5s;
}

.card-img {
  width: 150px;
}

.playlist-container {
  background-color: white;
  min-width: 250px;
  width: 22%;
  height: 20rem;
  margin: 3rem 0;
  border: 2px solid white;
  border-radius: 10px;
  box-shadow: white 0px 1px 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: all 0.5s;
}

.other-container {
  width: 90vw;
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.remove {
  color: #e192af;
  font-size: 12px;
}

.read-the-docs {
  color: #dcb5bb;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #efc3ca;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #b45061;
    background-color: #fedee3;
  }
  a:hover {
    color: #efc3ca;
  }
  button {
    background-color: #f9f9f9;
  }
}

button.remove {
  background: none;
  border: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #fedee3;
    background-color: #b45061;
  }
  a:hover {
    color: #efc3ca;
  }
  button {
    background-color: #f9f9f9;
  }
}
